n8n-workflow-weekly-challenges.json
{
  "name": "BibliApp - Weekly Challenges Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 1"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Executa toda Segunda-feira às 00:00"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"Você é um especialista em gamificação cristã.\"}, {\"role\": \"user\", \"content\": $json.prompt}] }}"
            },
            {
              "name": "temperature",
              "value": 0.8
            },
            {
              "name": "max_tokens",
              "value": 2000
            }
          ]
        },
        "options": {}
      },
      "name": "OpenAI - Generate Challenges",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar prompt para IA\nconst today = new Date();\nconst nextMonday = new Date(today);\nnextMonday.setDate(today.getDate() + ((1 + 7 - today.getDay()) % 7));\nconst nextSunday = new Date(nextMonday);\nnextSunday.setDate(nextMonday.getDate() + 6);\n\nconst startDate = nextMonday.toISOString().split('T')[0];\nconst endDate = nextSunday.toISOString().split('T')[0];\n\n// Detectar tema sazonal\nconst month = today.getMonth() + 1;\nlet seasonalTheme = '';\nif (month === 12) seasonalTheme = 'Natal e Advento';\nelse if (month === 3 || month === 4) seasonalTheme = 'Páscoa e Ressurreição';\nelse if (month === 1) seasonalTheme = 'Ano Novo e Propósitos';\n\nconst prompt = `Gere 15 desafios semanais VARIADOS para um app cristão de devocionais.\n\nContexto:\n- Data: ${startDate} a ${endDate}\n${seasonalTheme ? `- Tema sazonal: ${seasonalTheme}` : ''}\n\nTipos de desafios:\n- reading: Ler devocionais\n- sharing: Compartilhar versículos/citações\n- study: Completar estudos bíblicos\n- favorite: Adicionar versículos aos favoritos\n- note: Escrever reflexões\n\nRegras:\n1. 5 desafios fáceis (target: 2-3, xp: 50-100, coins: 15-30)\n2. 5 desafios médios (target: 4-6, xp: 120-180, coins: 35-60)\n3. 5 desafios difíceis (target: 7-10, xp: 200-300, coins: 70-100)\n4. Títulos criativos e motivacionais\n5. Descrições claras e inspiradoras\n6. Variar os tipos de desafios\n\nRetorne APENAS um array JSON válido:\n[\n  {\n    \"title\": \"string\",\n    \"description\": \"string\",\n    \"challenge_type\": \"reading|sharing|study|favorite|note\",\n    \"target_value\": number,\n    \"xp_reward\": number,\n    \"coin_reward\": number\n  }\n]`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    start_date: startDate,\n    end_date: endDate\n  }\n}];"
      },
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse resposta da OpenAI\nconst response = $input.item.json;\nconst content = response.choices[0].message.content;\n\n// Extrair JSON da resposta\nlet challenges;\ntry {\n  // Tentar parse direto\n  challenges = JSON.parse(content);\n} catch (e) {\n  // Se falhar, tentar extrair JSON de markdown\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    challenges = JSON.parse(jsonMatch[1]);\n  } else {\n    // Tentar encontrar array diretamente\n    const arrayMatch = content.match(/\\[[\\s\\S]*\\]/);\n    if (arrayMatch) {\n      challenges = JSON.parse(arrayMatch[0]);\n    } else {\n      throw new Error('Não foi possível extrair JSON da resposta');\n    }\n  }\n}\n\n// Adicionar datas e is_active\nconst startDate = $('Prepare Prompt').item.json.start_date;\nconst endDate = $('Prepare Prompt').item.json.end_date;\n\nconst formattedChallenges = challenges.map(ch => ({\n  title: ch.title,\n  description: ch.description,\n  start_date: startDate,\n  end_date: endDate,\n  challenge_type: ch.challenge_type,\n  target_value: ch.target_value,\n  xp_reward: ch.xp_reward,\n  coin_reward: ch.coin_reward,\n  is_active: true\n}));\n\nreturn formattedChallenges.map(ch => ({ json: ch }));"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM weekly_challenges WHERE start_date >= '{{ $('Prepare Prompt').item.json.start_date }}'",
        "additionalFields": {}
      },
      "name": "Supabase - Clear Old Challenges",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Remove desafios futuros antes de inserir novos"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "weekly_challenges",
        "columns": "title, description, start_date, end_date, challenge_type, target_value, xp_reward, coin_reward, is_active",
        "additionalFields": {}
      },
      "name": "Supabase - Insert Challenges",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WEBHOOK_URL/success",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "15 novos desafios gerados com sucesso!"
            },
            {
              "name": "start_date",
              "value": "={{ $('Prepare Prompt').item.json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $('Prepare Prompt').item.json.end_date }}"
            }
          ]
        }
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200],
      "notes": "Opcional: Enviar notificação de sucesso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WEBHOOK_URL/error",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "error",
              "value": "={{ $json.error }}"
            }
          ]
        }
      },
      "name": "Notify Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 400],
      "notes": "Opcional: Enviar notificação de erro"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Challenges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Challenges": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Supabase - Clear Old Challenges",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase - Insert Challenges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Challenges": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-19T00:00:00.000Z",
  "versionId": "1"
}
