n8n-workflow-final-complete.json
{
  "name": "BibliApp - Gerar e Publicar Desafios com IA + Limpeza",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Agendamento Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 700],
      "notes": "Segunda-feira 00:00"
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "modo_teste",
              "value": false
            },
            {
              "name": "usar_ia",
              "value": true
            }
          ]
        }
      },
      "id": "params",
      "name": "Definir Parâmetros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 600],
      "notes": "modo_teste: simula | usar_ia: gera com IA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT maintain_challenges()"
      },
      "id": "cleanup",
      "name": "Limpar Desafios Expirados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 600],
      "credentials": {
        "postgres": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      },
      "notes": "Desativa expirados + limpa antigos"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Definir Parâmetros'].json.usar_ia }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-ia",
      "name": "Usar IA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst nextMonday = new Date(today);\nnextMonday.setDate(today.getDate() + ((1 + 7 - today.getDay()) % 7));\nconst nextSunday = new Date(nextMonday);\nnextSunday.setDate(nextMonday.getDate() + 6);\n\nconst startDate = nextMonday.toISOString().split('T')[0];\nconst endDate = nextSunday.toISOString().split('T')[0];\n\nconst month = today.getMonth() + 1;\nlet seasonalTheme = '';\nif (month === 12) seasonalTheme = 'Natal e Advento';\nelse if (month === 3 || month === 4) seasonalTheme = 'Páscoa e Ressurreição';\nelse if (month === 1) seasonalTheme = 'Ano Novo e Propósitos';\nelse if (month === 6) seasonalTheme = 'Dia dos Pais';\nelse if (month === 5) seasonalTheme = 'Dia das Mães';\n\nconst prompt = `Gere 15 desafios semanais VARIADOS para um app cristão de devocionais.\n\nContexto:\n- Data: ${startDate} a ${endDate}\n${seasonalTheme ? `- Tema sazonal: ${seasonalTheme}` : ''}\n\nTipos de desafios:\n- reading: Ler devocionais\n- sharing: Compartilhar versículos/citações\n- study: Completar estudos bíblicos\n- favorite: Adicionar versículos aos favoritos\n- note: Escrever reflexões\n\nRegras:\n1. 5 desafios fáceis (target: 2-3, xp: 50-100, coins: 15-30)\n2. 5 desafios médios (target: 4-6, xp: 120-180, coins: 35-60)\n3. 5 desafios difíceis (target: 7-10, xp: 200-300, coins: 70-100)\n4. Títulos criativos e motivacionais\n5. Descrições claras e inspiradoras\n6. Variar os tipos de desafios\n\nRetorne APENAS um array JSON válido:\n[\n  {\n    \"title\": \"string\",\n    \"description\": \"string\",\n    \"challenge_type\": \"reading|sharing|study|favorite|note\",\n    \"target_value\": number,\n    \"xp_reward\": number,\n    \"coin_reward\": number\n  }\n]`;\n\nreturn [{ json: { prompt, start_date: startDate, end_date: endDate } }];"
      },
      "id": "prepare-prompt",
      "name": "Preparar Prompt IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Você é um especialista em gamificação cristã.\"},\n    {\"role\": \"user\", \"content\": $json.prompt}\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 2000\n} }}"
      },
      "id": "openai",
      "name": "OpenAI - Gerar Desafios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 400],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst content = response.choices[0].message.content;\n\nlet challenges;\ntry {\n  challenges = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    challenges = JSON.parse(jsonMatch[1]);\n  } else {\n    const arrayMatch = content.match(/\\[[\\s\\S]*\\]/);\n    if (arrayMatch) {\n      challenges = JSON.parse(arrayMatch[0]);\n    } else {\n      throw new Error('Não foi possível extrair JSON');\n    }\n  }\n}\n\nconst startDate = $('Preparar Prompt IA').item.json.start_date;\nconst endDate = $('Preparar Prompt IA').item.json.end_date;\n\nconst formatted = challenges.map(ch => ({\n  json: {\n    title: ch.title,\n    description: ch.description,\n    start_date: startDate,\n    end_date: endDate,\n    challenge_type: ch.challenge_type,\n    target_value: ch.target_value,\n    xp_reward: ch.xp_reward,\n    coin_reward: ch.coin_reward,\n    is_active: true\n  }\n}));\n\nconsole.log(`✅ IA gerou ${formatted.length} desafios`);\nreturn formatted;"
      },
      "id": "parse-ia",
      "name": "Parse Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "weekly_challenges",
        "dataToSend": "autoMapInputData"
      },
      "id": "insert-challenges",
      "name": "Inserir Desafios IA",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 400],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "weekly_challenges",
        "filters": {
          "conditions": [
            {
              "keyName": "is_active",
              "keyValue": "true"
            }
          ]
        }
      },
      "id": "get-existing",
      "name": "Buscar Desafios Ativos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 800],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nconst diaSemana = hoje.getDay() === 0 ? 7 : hoje.getDay();\nconst segunda = new Date(hoje);\nsegunda.setDate(hoje.getDate() - (diaSemana - 1));\nconst domingo = new Date(segunda);\ndomingo.setDate(segunda.getDate() + 6);\nreturn [{\n  json: {\n    start_date: segunda.toISOString().split('T')[0],\n    end_date: domingo.toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "calc-week",
      "name": "Calcular Semana Atual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 800]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "weekly_challenges_published"
      },
      "id": "get-published",
      "name": "Buscar Publicados",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 800],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const desafiosAtivos = $('Buscar Desafios Ativos').all().filter(item => item.json && item.json.id);\nconst publicados = $input.all().filter(item => item.json && item.json.challenge_id);\nconst publicadosIds = publicados.map(item => item.json.challenge_id);\n\nconst paraPublicar = desafiosAtivos.filter(item => !publicadosIds.includes(item.json.id));\n\nif (paraPublicar.length === 0) {\n  console.log('ℹ️ Nenhuma nova missão para publicar.');\n  return [{ json: { noPublish: true, count: 0 } }];\n}\n\nconst semana = $('Calcular Semana Atual').first().json;\nconst registros = paraPublicar.map(item => ({\n  json: {\n    challenge_id: item.json.id,\n    start_date: semana.start_date,\n    end_date: semana.end_date,\n    created_at: new Date().toISOString()\n  }\n}));\n\nconsole.log(`🆕 ${registros.length} missões serão publicadas.`);\nreturn registros;"
      },
      "id": "filter-new",
      "name": "Filtrar Novos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 800]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node['Definir Parâmetros'].json.modo_teste }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-test",
      "name": "Modo Teste?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 800]
    },
    {
      "parameters": {
        "jsCode": "const desafios = $input.all();\nif (desafios.length === 0 || (desafios.length === 1 && desafios[0].json.noPublish)) {\n  console.log('ℹ️ [Simulação] Nenhuma missão seria publicada.');\n} else {\n  console.log(`🔎 [Simulação] Seriam publicados ${desafios.length} desafios.`);\n}\nreturn [{ json: { simulado: true, quantidade: desafios.filter(i => !i.json.noPublish).length } }];"
      },
      "id": "simulate",
      "name": "Simulação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noPublish }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-publish",
      "name": "Precisa Publicar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 1000]
    },
    {
      "parameters": {
        "tableId": "weekly_challenges_published",
        "dataToSend": "autoMapInputData"
      },
      "id": "publish",
      "name": "Publicar Desafios",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2250, 1200],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet count = items.filter(item => item.json && item.json.challenge_id).length;\nif (items.length === 1 && items[0].json.noPublish) count = 0;\n\nconst semana = $('Calcular Semana Atual').first().json;\nconst cleanup = $('Limpar Desafios Expirados').first().json;\n\nconsole.log('🟢 Execução finalizada');\nconsole.log(`📅 Semana: ${semana.start_date} - ${semana.end_date}`);\nconsole.log(`🗑️ Desafios desativados: ${cleanup.desativados || 0}`);\nconsole.log(`📝 Missões publicadas: ${count}`);\n\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  status: 'sucesso',\n  desafios_desativados: cleanup.desativados || 0,\n  missoes_publicadas: count,\n  semana: `${semana.start_date} - ${semana.end_date}`\n} }];"
      },
      "id": "prepare-log",
      "name": "Preparar Log Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 1000]
    },
    {
      "parameters": {
        "tableId": "n8n_execution_log",
        "dataToSend": "autoMapInputData"
      },
      "id": "log",
      "name": "Registrar Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 1000],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Definir Parâmetros", "type": "main", "index": 0}]]
    },
    "Agendamento Semanal": {
      "main": [[{"node": "Definir Parâmetros", "type": "main", "index": 0}]]
    },
    "Definir Parâmetros": {
      "main": [[{"node": "Limpar Desafios Expirados", "type": "main", "index": 0}]]
    },
    "Limpar Desafios Expirados": {
      "main": [[{"node": "Usar IA?", "type": "main", "index": 0}]]
    },
    "Usar IA?": {
      "main": [
        [{"node": "Preparar Prompt IA", "type": "main", "index": 0}],
        [{"node": "Buscar Desafios Ativos", "type": "main", "index": 0}]
      ]
    },
    "Preparar Prompt IA": {
      "main": [[{"node": "OpenAI - Gerar Desafios", "type": "main", "index": 0}]]
    },
    "OpenAI - Gerar Desafios": {
      "main": [[{"node": "Parse Resposta IA", "type": "main", "index": 0}]]
    },
    "Parse Resposta IA": {
      "main": [[{"node": "Inserir Desafios IA", "type": "main", "index": 0}]]
    },
    "Inserir Desafios IA": {
      "main": [[{"node": "Buscar Desafios Ativos", "type": "main", "index": 0}]]
    },
    "Buscar Desafios Ativos": {
      "main": [[{"node": "Calcular Semana Atual", "type": "main", "index": 0}]]
    },
    "Calcular Semana Atual": {
      "main": [[{"node": "Buscar Publicados", "type": "main", "index": 0}]]
    },
    "Buscar Publicados": {
      "main": [[{"node": "Filtrar Novos", "type": "main", "index": 0}]]
    },
    "Filtrar Novos": {
      "main": [[{"node": "Modo Teste?", "type": "main", "index": 0}]]
    },
    "Modo Teste?": {
      "main": [
        [{"node": "Simulação", "type": "main", "index": 0}],
        [{"node": "Precisa Publicar?", "type": "main", "index": 0}]
      ]
    },
    "Precisa Publicar?": {
      "main": [
        [{"node": "Preparar Log Final", "type": "main", "index": 0}],
        [{"node": "Publicar Desafios", "type": "main", "index": 0}]
      ]
    },
    "Publicar Desafios": {
      "main": [[{"node": "Preparar Log Final", "type": "main", "index": 0}]]
    },
    "Preparar Log Final": {
      "main": [[{"node": "Registrar Log", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
